.row{
    .cuadernos{
        display: flex;
        flex-direction: column;
        section{
            img{
                width: 100%;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}