table{
    margin: auto;
    margin-top: 15px;
    text-align: center;
    tr:hover{
        transform: scale(1.25);
        text-transform: uppercase;
        font-weight: 100;
        color: rgb(203, 25, 25);
    }
    th{
        background-color: #CDE5D7;
    }
    td{
        background-color: rgb(238, 223, 223);
    }
}
p{
    text-align: center;
    font-style: italic;
    margin: auto;
    padding: 15px;
}
.productos{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    .card{
        text-align: center;
        .card-img-top{
            height: 43%;
        }
    }
}