h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.datos{
    text-align: center;
    background-color: #ecf1f1;
    margin: 0px 100px 30px 100px;
    .datosPerfil{
        font-size: 19px;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
    }
}